certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
deepdiff==3.2.1
idna==2.7
jsonpickle==0.9.4
lxml==4.2.5
matplotlib==2.2.3
mwoauth==0.3.2
networkx==2.1
numpy==1.15.1
oauthlib==2.1.0
PyJWT==1.5.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
simplejson==3.16.0
six==1.11.0
tqdm==4.26.0
urllib3==1.23
wikidataintegrator==0.1.3
